@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	/*background: #ebf5fc;*/
	/*background: #232427;*/
	 background: linear-gradient(to left bottom, #27c38b, #00be9a, #00b9a7, #00b3b0, #00acb5, #00a3b9, #0099bc, #008ebb, #1b7cb7, #3a69ad, #53549d, #653d86);
	
}
p{color:rgba(225,225,225,0.5); font-size: 5em; font-weight:bolder; }
/*.column {
  float: left;
  width: 33.33333%;
  padding: 40px 0;
}*/
.container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/*max-width: 5000px; */
	flex-wrap: wrap;
	padding: 60px 0;
	/*margin: 40px 40px; */
	margin-left: 80px;
	float: left;
}
.container .card
{
	position: relative;
	width: 320px;
	height: 440px;
	/*box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
	            inset -5px 5px 5px rgba(225,225,225,0.5),
	             5px 5px 5px rgba(0,0,0,0.05),
	            -5px 5px 5px rgba(225,225,225,0.5);*/
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	            inset -5px 5px 15px rgba(225,225,225,0.1),
	             5px 5px 15px rgba(0,0,0,0.3),
	            -5px 5px 15px rgba(225,225,225,0.1);			
	border-radius: 15px;
	margin: 10px;
	
}
.container .card .box
{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	/*background: #2a2b2f;*/
	background:linear-gradient(to left bottom, #27c38b, #00be9a, #00b9a7, #00b3b0, #00acb5, #00a3b9, #0099bc, #008ebb, #1b7cb7, #3a69ad, #53549d, #653d86);
	/*border: 2px solid #1e1f23;*/
	box-shadow: 0 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	overflow: hidden;
}
.container .card .box::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(225,225,225,0.05);
	pointer-events: none;
}

.container .card:hover .box
{
	transform: translateY(-50px);
	box-shadow: 0 40px 70px rgba(0,0,0,0.2);
	/*background: linear-gradient(45deg,#b95ce4,#4f29cd); */ 
	/*background: linear-gradient(45deg,#C05EC2,#00D5FF);*/
}
.container .card .box .content
{
	padding: 20px;
	text-align:center;
}
.container .card .box .content h2
{
	position: absolute;
	top: -40px;
	right: 5px;
	font-size: 8em;
	color: rgba(225,225,225,0.5);
	transition: 0.5s;
	pointer-events: none;
}
.container .card:hover .box .content h2
{
	color: rgba(0,0,0,0.10);
}
.container .card .box .content h3
{
	font-size: 1.4em;
	color: rgba(225,225,225,1);
	z-index: 1;
	transition: 0.5s;
}
.container .card .box .content p
{
	font-size: 1em;
	font-weight: 300;
	/*color: rgba(225,225,225,0.5);*/
	z-index: 1;
	transition: 0.5s;
}
.container .card:hover .box .content h3,
.container .card:hover .box .content p
{
	color: #fff;
}
.container .card .box .content a
{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: linear-gradient(to right,#a517ba,#5f1782);
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:hover .box .content a
{
	background:#2196f3;
}