@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	/*background: #ebf5fc;*/
	background: #232427;
	margin: 0;
	
}

.column {
  float: none;
  margin: 0;
  width: 5000px;
 padding: 0 0; 
}
.container
{
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 5000px;
	flex-wrap: wrap;
	/*padding: 40px 0;*/
	padding: 80px 0;
}
.container .card
{
	position: relative;
	width: 1200px;
	height: 998px;
	/*box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
	            inset -5px 5px 5px rgba(225,225,225,0.5),
	             5px 5px 5px rgba(0,0,0,0.05),
	            -5px 5px 5px rgba(225,225,225,0.5);*/
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	            inset -5px 5px 15px rgba(225,225,225,0.1),
	             5px 5px 15px rgba(0,0,0,0.3),
	            -5px 5px 15px rgba(225,225,225,0.1);			
	border-radius: 15px;
	margin: 10px;
}

.container .card .box
{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #2a2b2f; 
	border: 2px solid #1e1f23; 
	box-shadow: 0 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	display: flex;
	justify-content: left;
	align-items: left;
	transition: 0.5s;
	overflow: hidden;
}
.container .card .box::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(225,225,225,0.05); 
	pointer-events: none;
}

.container .card:hover .box
{
	transform: translateY(-50px);
	box-shadow: 0 40px 70px rgba(0,0,0,0.2);
	/*background: linear-gradient(45deg,#b95ce4,#4f29cd); */ 
	/*background: linear-gradient(45deg,#C05EC2,#00D5FF);*/
}
.container .card .box .content
{
	padding: 20px;
	/*text-align:center;*/
}
/*.container .card .box .content h2
{
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 8em;
	/*color: rgba(225,225,225,0.1);*/
	/*color: #fff;
	transition: 0.5s;
	pointer-events: none;
}
.container .card:hover .box .content h2
{
	color: rgba(0,0,0,0.10);
}*/
.container .card .box .content h1
{

	position: absolute;
	top: -10px;
	right: 5px;
	font-size: 8em;
	color: rgba(225,225,225,0.05);
	transition: 0.5s;
	pointer-events: none;

}
.container .card:hover .box .content h1
{
	color: rgba(0,0,0,0.15);
}
.container .card .box .content h2
{
	font-size: 4.2em;
	top: 1000px;
	color: rgba(225,225,225,0.5);
	
	z-index: 1;
	transition: 0.5s;
}
.container .card .box .content h3
{
	font-size: 2.5em;
	top: 1000px;
	color: rgba(225,225,225,0.5);
	
	z-index: 1;
	transition: 0.5s;
}
.container .card .box .content p
{
	font-size: 1.5em;
	/*font-weight: 300; */
	color: rgba(225,225,225,0.5);
	z-index: 1;
	transition: 0.5s;
}
.container .card .box .content span
{
	font-size: 1.3em;
	/*font-weight: 300; */
	color: rgba(225,225,225,0.5);
	z-index: 1;
	transition: 0.5s;
}
.container .card:hover .box .content span .fa-check-circle
{
	color: #0f0;
}
.container .card:hover .box .content span .fa-refresh
{
	color: #FF0;
}


.container .card:hover .box .content span .fa-exclamation-triangle
{
	color: #ffa500;
}
.container .card:hover .box .content span  .fa-dot-circle-o
{
	color: #9F0;
}
.container .card:hover .box .content p  .fa-cog
{
	color: #0FF;
}
.container .card:hover .box .content p .fa-telegram
{
	color: #F96;
}
/*.container .card:hover .box .content p .fa-pencil-square
{
	color: #FF0;
} */

.container .card:hover .box .content span .fa-tags
{
	color: #C96;
}
.container .card:hover .box .content h3 .fa-balance-scale
{
	color: #CCC;
}
.container .card:hover .box .content h3  .fa-bookmark
{
	color: #FF9;
}
.container .card:hover .box .content span .fa-info-circle
{
	color: #CFC;
}

.container .card:hover .box .content h2,
.container .card:hover .box .content h3,
.container .card:hover .box .content p,
.container .card:hover .box .content span
{
	color: #fff;
}
.container .card .box .content a
{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: #232427;
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:hover .box .content a
{
	background:#2196f3;
}
.toggle
{
	position: absolute;
	top: 20px;
	left: calc(50% - 30px);
	width: 55px;
	height: 33px;
	background: #fff;
	cursor: pointer;
	border-radius: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toggle::before
{
	content: '\f204';
	font-family: fontAwesome;
	font-size: 50px;
}
body.light .toggle
{
	background: #154f56;
	color: #fff;
}
body.light .toggle::before
{
	content: '\f205';
}
body.light
{
	background: #ebf5fc;
}

body.light .container .card
{
	
	/*box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
	            inset -5px 5px 5px rgba(225,225,225,0.5),
	             5px 5px 5px rgba(0,0,0,0.05),
	            -5px 5px 5px rgba(225,225,225,0.5);*/
	box-shadow: inset 10px 10px 10px rgba(0,0,0,0.03),
	            inset -10px -10px 15px rgba(225,225,225,0.5),
	             10px 10px 10px rgba(0,0,0,0.03),
	            -10px -10px 15px rgba(225,225,225,0.5);			
	
}

body.light .container .card .box
{
	background: #ebf5fc;
	border: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
body.light .container .card:hover .box
{
	box-shadow: 0 20px 40px rgba(0,0,0,0.2);
	background:  linear-gradient(to left bottom, #27c38b, #00be9a, #00b9a7, #00b3b0, #00acb5, #00a3b9, #0099bc, #008ebb, #1b7cb7, #3a69ad, #53549d, #653d86);
}

body.light .container .card .box .content h2,
body.light .container .card .box .content h3,
body.light .container .card .box .content p,
body.light .container .card .box .content span
{
	color: #32a3b1;
}
body.light .container .card .box .content h1
{
	color: rgba(225,225,225,2);
}
body.light .container .card:hover .box .content h2,
body.light .container .card:hover .box .content h3,
body.light .container .card:hover .box .content p,
body.light .container .card:hover .box .content span
{
	color: #fff;
}
body.light .container .card:hover .box .content h1
{
	color: rgba(0,0,0,0.10);

}

